<%=form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title' %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, 'Content' %><br />
    <%= f.text_area :content, rows: '15', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :tag_list, 'Tags (separated by commas)' %><br/>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.submit 'Save', class: 'btn btn-primary',
        name: 'route_to[save]'
     %>
    <%= f.submit 'Save Draft', class: 'btn btn-primary',
        name: 'route_to[draft]'
    %>
  </div>
<%end%>
