<div class="container-fluid page-header">
  <h1><a href="<%= root_path%>">Scratchpaedia</a></h1>
  <nav class="navbar navbar-light justify-content-between navbar-expand-lg">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form action="<%= articles_search_articles_path %>" method="get" class="form-inline">
      <input class="form-control mr-sm-2" id="article_fulltext" name="article[fulltext]" type="text" placeholder="<%= I18n.t('menubar.search') %>" aria-label="Search">
      <input type="submit" class="btn btn-outline-primary my-2 my-sm-0 nav-link search-articles" type="submit" value="<%= I18n.t('menubar.search') %>"/>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav my-2 my-lg-0 ml-5">
        <% if current_user %>
          <li class="nav-item"><a class="nav-link" href="<%= destroy_user_session_path %>"><%= I18n.t('menubar.logout') %></a></li>
          <li class="nav-item"><a class="nav-link" href="<%= new_article_path %>"><%= I18n.t('menubar.add_article') %></a></li>
          <li class="nav-item"><a class="nav-link" href="<%= articles_my_articles_path %>"><%= I18n.t('menubar.my_posts') %></a></li>
          <li class="nav-item"><a class="nav-link" href="<%= edit_user_registration_path %>"><%= I18n.t('menubar.change_password') %></a></li>
        <% else %>
          <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>"><%= I18n.t('menubar.login') %></a></li>
          <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>"><%= I18n.t('menubar.register') %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
