<!DOCTYPE html>
<html>
  <head>
    <title>Scratchpaedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main role="main" class="container">
        <div class="notifications">
          <%= flash_messages %>
        </div>
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm-8 blog-main">
            <%= yield %>
          </div>
          <div class="col-sm">
            <!-- <%=render 'articles/tag_cloud' %> -->
          </div>
        </div>
    </main>
  </body>
</html>
